<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">


    <!-- 应用名称 -->
    <property name="APP_NAME" value="DatabaseCompare" />
    <!-- 日志文件夹 -->
    <property name="APP_CONFIG" value="DatabaseCompareLog" />
    <!-- 日志路径 -->
    <property name="LOG_HOME" value="${APP_CONFIG}/logs/" />
    <!-- 日志格式 -->
    <property name="LOG_PATTERN" value="%-100(%date [%thread] %-5level %logger) %-5line -%-5message %n" />
<!--    <property name="LOG_PATTERN" value="%-100(%date [%thread] %-5level %logger) %-5line %-5method -%-5message %n" />-->
    <!-- 项目中的包名或者类名， 会将指定包名下或者指定类下的所有日志输出到指定文件-->
    <property name="DEFAULT_LOGGER_NAME" value="icu.greenlemon.databasecompare" />

    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </layout>
    </appender>
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/file-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </layout>
    </appender>
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </layout>
    </appender>
    <appender name="performance" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/performance.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/performance-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </layout>
    </appender>

    <!-- 将com.longxi包名下所有日志输出到file中 -->
    <!-- level表示日志级别：OFF、FATAL、ERROR、WARN、INFO、DEBUG、TRACE、 ALL -->
    <!-- additivity：false表示将日志只输出到file；true表示将日志还要输出到root中的appender-ref -->
    <logger name="${DEFAULT_LOGGER_NAME}" level="info" additivity="true">
        <appender-ref ref="info" />
    </logger>

    <!-- 将日志名称为 ERROR_LOGGER 的日志输出到指定文件 -->
    <!-- private static final Logger logger = LoggerFactory.getLogger("ERROR_LOGGER"); -->
    <!-- level表示日志级别：OFF、FATAL、ERROR、WARN、INFO、DEBUG、TRACE、 ALL -->
    <!-- additivity：false表示将日志只输出到file；true表示将日志还要输出到root中的appender-ref -->
    <logger name="ERROR_LOGGER" level="info" additivity="true">
        <appender-ref ref="error" />
    </logger>

    <!-- 将日志名称为 PERFORMANCE_LOGGER 的日志输出到指定文件 -->
    <!-- private static final Logger logger = LoggerFactory.getLogger("PERFORMANCE_LOGGER"); -->
    <!-- level表示日志级别：OFF、FATAL、ERROR、WARN、INFO、DEBUG、TRACE、 ALL -->
    <!-- additivity：false表示将日志只输出到file；true表示将日志还要输出到root中的appender-ref -->
    <logger name="PERFORMANCE_LOGGER" level="info" additivity="true">
        <appender-ref ref="performance" />
    </logger>

    <!-- level表示日志级别：OFF、FATAL、ERROR、WARN、INFO、DEBUG、TRACE、 ALL -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>